html {
    margin: 0px;
    padding: 0px;
}
canvas {
    margin: 0px;
    padding: 0px;
    position: fixed;
    z-index: 1;
}
body {
    margin: 0px;
}
.navbar {
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(184, 184, 184, 0.473);
    margin: 10px;
    flex-grow: 1;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    gap: 10px;
    border-width: 1.5px;
    border-color: black;
    border-style: solid;
}
.navbarcontainer {
    height: 80px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: stretch;
    align-items:stretch;
    flex-direction: column;
    z-index: 5;
}
.navbaritem {
    padding: 10px;
    border-radius: 10px;
    flex-grow: 1;
    color: white;
    border-width: 1.5px;
    border-color: black;
    border-style: solid;

}
.currentpage {
    background-color: rgba(0, 0, 0, 0.582);
}
a {
    color: white;
    text-decoration: none;
}
.reset_button {
    background-color: rgb(253, 253, 253);
    z-index: 5;
    height: 150px;
    width: 50%;
    text-align: center;
    font-size: 500%;
    border: 2px solid rgb(24, 24, 24);
    display:none;
    border-radius: 20px;
    margin-inline: 10px;
    vertical-align: middle;
    line-height: 150px;
    touch-action: manipulation;
}
.change_mode_button {
    position: fixed;
    background-color: rgb(14, 14, 14);
    height: 100px;
    width: 90%;
    bottom: 3%;
    margin-left: 5%;
    text-align: center;
    font-size: 500%;
    border: 2px solid rgb(228, 228, 228);
    display: none;
    color: white;
}
.undo_button {
    background-color: rgb(253, 253, 253);
    z-index: 5;
    height: 150px;
    width: 50%;
    text-align: center;
    font-size: 500%;
    border: 2px solid rgb(24, 24, 24);
    display:none;
    border-radius: 20px;
    margin-inline-end: 10px;
    vertical-align: middle;
    line-height: 150px;
    touch-action: manipulation;
}
.bottom_bar_container {
    position: fixed;
    display: flex;
    bottom: 1%;
    width: 100%;
    justify-content: center;
}
.side_bar_container {
    position: fixed;
    display: flex;
    top: 100px;
    left: 2%;
    align-items: center;
}
.slider {
    height: 10px;
    width: 400px;
    margin: 10px;
    align-self: center;
    background-color: aqua;
}
.navbar_link_image {
    width: 64px;
}
.slider_container {
    width: 0px;
}
.nocursor {
    cursor: none;
}